**/target/
**/*.rs.bk
*.swp
.wasm-binaries
bevm/runtime/wasm/target/
!runtime/wasm/target/wasm32-unknown-unknown/release/bevm_runtime.compact.wasm
node_modules
**/._*
.vscode/
.DS_Store
*.o
*.so
*.rlib
*.dll
/target/
*.exe
.vs/
.idea/
bevm/
!runtime/bevm
!rpc/src/bevm
bak/
.bevm/
.sub/
log/

# for substrate weight
/*.rs
/traits.rs
build/
/contracts/.deps/
/contracts/artifacts/
__pycache__/
.env